.banner {
    background-color: #a1b9cd;
}

.banner img{
    height: 33em;
}

.banner p{
    font-size: 27px;
    margin: 3em 4em 0.5em 8em;
}

.amenities1 .firstrow{
    margin-bottom: 3em;
}

.amenities1 img{
    width: 20%;
   
}

.amenities1 h2 {
    margin: 2em 0em 1em 16em;
}

#search {
    width: 6em;
    height: 2em;
    font-size: 25px;
    border-radius: 8px;
    margin: 1em 1em 1em 13em;
    background-color: #740042;
    color: white;
}

#sel1,#sel2{
    height: 50px;
    -webkit-appearance: none;
}

.m1{
    text-align: center;
}

.forall img{
    height: 9em;
}

.forall h4{
    font-size: 1em;
    font-weight: bold;
    color:black;
}

.forall p{
    font-size: 18px;
    color:black;
}

.all1 h2{
    margin: 2em 0em 1em 17em;
}


.forall .lastcard{
    padding-bottom: 1.5em;
}


.properties h2{
    margin-left: 11em;
}

.hunter img{
    width: 30%;;
}

.house {
    text-align: center;
    margin: 3em 0 0 0;
}

.house h4{
    margin: 1.5em 0 1em 0;
}

.form-group select{
    width: 25em;
    height : 3em;
    margin-left: 13em;
}

.form-group #sel2{
    margin-top: 1em;
}


.all1 a{
    text-decoration: none;
}

.support {
    border: 1px solid #ddd;
}

.help{
    border-right: 1px solid #ddd;
    text-align: center;
    padding: 3em 0em 4em 0em;
}

.fa-mobile,.fa-ambulance,.fa-car, .fa-users{
    font-size: 5em;
}

.help h4{
    margin-top: 1em;
}

.we h2{
    margin: 2em 0em 1em 15em;
}

.response h5{
    margin: 0em 0em 1em 22em;
}

.para p{
    font-size: 18px;
    margin: 1em 0em 1em 0em;
}
    