{% extends 'placio/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5">
            <h1 id="kook1">Escalate Your Rental Revenue</h1>
            <p class="req">Are you thinking about renting your property, but how do you ensure you find the right resident?</p>
            <img src="{% static 'images/partner.jpg' %}" alt="man" id="partner">
            <p class="req">We at Placio, aim to increase revenue and occupancy by providing quality living spaces to a million plus college going students.</p>
            <p class="req">Simply give us a little brief about your property by filling a form and our team will be happy to assist you to find the right tenant. </p>
            <p class="req">Not Only that, we will also assist you to roll-out all manner of changes to make your living space more desirable and enrapturing.</p>
        </div>
        <div class="col-lg-7">
            <form method="POST" class="post-form form2">{% csrf_token %}
                <h5>FRANCHISE WITH US</h5>
                Name: {{ form1.name }}
                Email: {{ form1.email }}<br>
                Mobile No.: {{ form1.mobile_number }}
                Type of Property: {{ form1.typeofproperty }}<br>
                Number of Bedrooms: {{ form1.NumberofBedrooms }}
                Expected Rent: {{ form1.ExpectedRent }}<br>
                Currently Vacant/Occupied: {{ form1.currentStatus }}
                City: {{ form1.city }}<br>
                Address: {{ form1.address}}<br>
                Comment: {{ form1.comment }}
                
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid all">
    <div class="row forall post1">
      <div class="col-lg-4">
        <div class="card col1">
          <img src="{% static 'images/service.png' %}">
          <div class="card-body list1">
            <h5>Our Service</h5>
            <p>We take care of your housing crises so that you can focus on achieving your future goals.</p>
            <ul>
                <li><i class="fa fa-check"></i> Fully furnished premium home</li>
                <li><i class="fa fa-check"></i> All bills inclusive</li>
                <li><i class="fa fa-check"></i> Inclusive of maintenance services</li>
            </ul>
        </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="{% static 'images/money.png' %}">
          <div class="card-body list1">
            <h5>Save Time & Money</h5>
            <p>Check out our latest property deals to find a suitable accommodation for your self.</p>
            <ul>
                <li><i class="fa fa-check"></i> Private room, Twin & Triple sharing</li>
                <li><i class="fa fa-check"></i> Zero brokerage</li>
                <li><i class="fa fa-check"></i> Minimal paperwork</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card col3 list1">
          <img src="{% static 'images/relax.png' %}">
          <div class="card-body">
            <h5>Join Us & Relax</h5>
            <p>We are committed to helping you & your folks finding the perfect rental place.</p>
            <ul>
                <li><i class="fa fa-check"></i> Ready to move in homes</li>
                <li><i class="fa fa-check"></i> Like minded room-mates</li>
                <li><i class="fa fa-check"></i> Comfortable, just like your home</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock%}