{% extends 'placio/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row firstrow">
        <div class="col-lg-6">
            <h1>A Million Reasons To Choose Placio</h1>
            <p>Check us out today! For the ultimate student lifestyle, offering the best space a 
                stimulating and inspiring environment where students can begin their academic journey
                 thanks to a range of features and perks offered by Placio far exceeding those of
                  typical student apartments. Placio is a student platform that strives to give you an 
                  unforgettable experience. </p>
        </div>
        <div class="col-lg-6">
            <img src="{% static 'images/whyus-banner.png' %}" alt="placio">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row secondrow">
        <div class="col-lg-6 images">
          <!-- <img src="{% static 'images/maxresdefault.jpg' %}" id="max">-->
           <!-- <a href="https://youtu.be/OKHRi__TxsM"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>-->
        </div>
        <div class="col-lg-6">
            <h2>Living at Placio is awesome, find out why!</h2>
            <p>Placio is committed to offering convenient, safe and secure spaces where you can study, thrive, and socialize within your comfort zone. We offer a new standard of student accomodation when you make your home at Placio.</p>
            <p>We cater to your everyday needs both academically and socially and make everything available at your fingertips when you choose to live at Placio. </p>
            <p>Our properties are perfectly located near the premises of the city centers or universities which are fitted with WiFi, study space and social areas. Moreover, all our properties are well designed and thought-out rooms to make your stay with us memorable.</p>
            <p>Join and experience a new standard of student living when you make ‘your home away from home’ at Placio.</p>
        </div>
    </div>
</div>

<div class="container-fluid all">
    <div class="row">
      <h2>Choose Placio for Unmatched Student Living</h2>
    </div>
    <div class="row forall1">
      <div class="col-lg-3">
        <div class="card">
          <img src="{% static 'images/students.jpg' %}">
          <div class="card-body">
            <h6>FOE SAFETY $ WELLBEING</h6>
            <p>Committed to zero tolerance to ragging, alcohol, smoking, drugs &amp; any misconduct, we’re concerned about your physical &amp; mental health. </p>
            <a href="">READ MORE</a>
        </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <img src="{% static 'images/parents.jpg' %}">
          <div class="card-body">
            <h6>CO-LIVING EXPERIENCE</h6>
            <p>With the right combination of security, study space & social areas we aim to provide the best environment 
                for students to be successful.</p>
            <a href="">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <img src="{% static 'images/college.jpg' %}">
          <div class="card-body">
            <h6>UNIQUE OPPORTUNITIES</h6>
            <p>Events and resources offered include academic and social events; networking events; career success workshops and much more. </p>
            <a href="">READ MORE</a>
        </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card lastcard">
          <img src="{% static 'images/owner.jpg' %}">
          <div class="card-body">
            <h6>EXPERIENCE LIFE@PLACIO</h6>
            <p>Placio wants your experience to be positive and hassle-free. Life@placio is an unparalleled experience & we can't wait for you to call Placio home.</p>
            <a href="">READ MORE</a>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid amenities1">
    <div class="row">
      <h2>Experience Placio</h2>
    </div>
    <div class="row firstrow">
      <div class="col-lg-3 m1">
        <img src="{% static 'images/wifi.png' %}">
        <h4>WIFI</h4>
        <h6>High Speed WiFi to make sure you’re connected 24x7</h6>
      </div>
      <div class="col-lg-3 m1">
        <img src="{% static 'images/clothes.png' %}">
        <h4>LAUNDARY</h4>
        <h6>Say good bye to your laundry worries</h6>
      </div>
      <div class="col-lg-3 m1">
        <img src="{% static 'images/air-conditioner.png' %}">
        <h4>AC</h4>
        <h6>Get AC rooms to survive hot summer days</h6>
      </div>
      <div class="col-lg-3 m1">
        <img src="{% static 'images/cafe.png' %}">
        <h4>CAFE</h4>
        <h6>On-property cafes so a quick bite is never too far away.</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 m1">
        <img src="{% static 'images/24-7-icon.png' %}">
        <h4>24X7 HELPLINE</h4>
        <h6>Where you can resolve your booking issue & complaints during your stay</h6>
      </div>
      <div class="col-lg-3 m1">
        <img src="{% static 'images/vegetable.png' %}">
        <h4>FOOD</h4>
        <h6>Delish and healthy meals will put those food ordering apps to rest.</h6>
      </div>
      <div class="col-lg-3 m1">
        <img src="{% static 'images/generator-plugin-system.png' %}">
        <h4>POWER BACKUP</h4>
        <h6>Power backup always ready for interruption free living.</h6>
      </div>
      <div class="col-lg-3 m1">
        <img src="{% static 'images/fitness-icon.jpeg' %}">
        <h4>FITNESS</h4>
        <h6>Discover and book workouts like gym and yoga with us.</h6>
      </div>
    </div>
  </div>


  
{% endblock %}